.ProjectsPage {
    /* background-image: linear-gradient(to bottom, #0e1212, #aa946c); */
    background-color: #0e1212;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid red; */
    /* padding: 5rem 0; */
    position: relative;
}

.ProjectsBackground {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-color: #0e1212;
    background-image: 
        linear-gradient(to bottom, #0e1212, #0e1212 4%, #0e121200 50%, #0e1212 80%, #0e1212),
        url('./ProjectImages/ProjectBackground.jpg');
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%; */
}

.ProjectsHeader {
    font-size: 3rem;
    /* margin-bottom: 1rem; */
    z-index: 10;
}

.ProjectsHeader-works {
    color: #682ae9;
}

.ProjectsIntro {
    font-size: 0.9rem;
    color: rgb(130, 130, 130);
}

.ProjectsList {
    list-style-type: none;
    /* border: 1px solid white; */
}

.ProjectImage {
    border-radius: 50%;
    width: 15vw;
    height: auto;
}

.ProjectsElem {
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    opacity: 0;
}

.fadeInRight {
    animation: fadeInRight 1s forwards;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.ProjectsElemText {
    margin-left: 1rem;
}

.ProjectsText {
    width: 50vw;
    z-index: 1;
    /* border: 1px solid red; */
    margin-top: 10rem;
    margin-bottom: 20rem;
}