@keyframes bgFadeIn {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.Homepage {
    /* border: 1px solid green; */
    height: 100vh;
    width: 100%;
    background-color: #0e1212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #0e1212;
    background-image: url('HomeBackgroundPurple.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    animation: bgFadeIn 1s 1s forwards;
}

@keyframes nameTransition {
    from {
        font-size: 12vh;
        letter-spacing: 12px;
        word-spacing: 40px;
        opacity: 1;
    }
    to {
        font-size: 10vh;
        letter-spacing: 10px;
        word-spacing: 30px;
        opacity: 90%;
    }
}

.Name {
    display: block;
    color: rgb(230, 230, 230);
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 12vh;
    letter-spacing: 12px;
    word-spacing: 40px;
    z-index: 1;
    /* border: 1px solid white; */
    animation: nameTransition 1s 1s forwards;
}

.ScrollButton {
    /* border: 1px solid white; */
    color: rgb(130, 130, 130);
    font-size: 1.3rem;
    margin: 0 auto;
    opacity: 0;
    animation: scrollButtonFadeIn 1s 3s forwards;
    transition: color 0.5s;
}

.ScrollButton:hover {
    color: #682ae9;
}

.ScrollButtonContainer {
    position: absolute;
    bottom: 10vh;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes scrollButtonFadeIn {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}