.Navlink {
    display: inline-block;
    /* border: 1px solid white; */
}

.Navurl {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.5s;
}

.Navurl:hover {
    color: #682ae9;
}

.Navlist {
    width: 35%;
    /* border: 1px solid green; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    font-size: 1.3rem;
    font-family: 'Monoton', cursive;
    /* border: 1px solid white; */
    color: #682ae9;
    position: absolute;
    top: 0;
    left: 0;
}

.Navbar {
    margin: 2vh auto auto;
    width: 90vw;
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    /* border: 1px solid red; */
    position: relative;
}

.Navbar-full {
    background-image: linear-gradient(to bottom, #0e1212, #0e1212, rgb(0,0,0,0));
    height: 12vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: row;
    align-content: flex-start;
    /* border: 1px solid white; */
    z-index: 999;
    opacity: 0;
    animation: navbarFadeIn 1s 2s forwards;
}

@keyframes navbarFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.NavbarIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    position: absolute;
    top: 0;
    right: 0;
}

.NavbarIcons > a {
    /* border: 1px solid red; */
    color: #682ae9;
    font-size: 1.5rem;
    margin: 0 1vh;
    padding: 0;
    transition: color 0.5s;
}

.NavbarIcons > a:hover {
    color: white;
}